.visibility{
	text-align: center;	
}
.courseshow { 
	color: #7FC241; 
	font-weight: bold;
	text-transform: uppercase;
}
.coursehide { 
	color: #AD4B4B; 
	font-weight: bold;
	text-transform: uppercase;
}
.linktohide, .linktohide:hover {
    color: #9499a3;
}
